# Ignore visualization output directory
visualization_output/
visualization_outputUp/
visualization_outputUp_2020_2024/

#Igore les hdf5 files
HDF5/
HDF5Up/
HDF5Up2020-2024/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
logs/
# Jupyter Notebook
.ipynb_checkpoints

# Model checkpoints and data
*.pth
*.h5